.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.brand-logo {
    /* font-family: 'Grand Hotel', cursive; */
    font-family: "Roboto", sans-serif;
    text-align: left;
}

.mycard {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    border: gray 3px solid;
}

.item {
    width: 30%;
}

a {
    color: black !important;
}

.maindiv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.maindiv .buttons {
    position: relative;
    height: calc(100vh - 80px);
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.maindiv .buttons .button {
    border: 1px solid black;
    background-color: aqua;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.maindiv .center {
    z-index: 10000;
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1.5px solid black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    display: grid;
    place-items: center;
}

.maindiv .current {
    height: 80px;
    width: 100%;
    border: 1px solid black;
    display: grid;
    place-items: center;
}
