.infobar-row {
	margin: 0px !important;
}

.maindiv {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.maindiv .buttons {
	position: relative;
	height: calc(100vh - 80px);
	display: grid;
	/* grid-template-columns: auto auto; */
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.maindiv .buttons .button {
	border: 1px solid black;
	background-color: aqua;
	border-radius: 5px;
	display: grid;
	place-items: center;
}

.maindiv .center {
	z-index: 10000;
	position: absolute;
	width: 180px;
	height: 180px;
	border: 1.5px solid black;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: aqua;
	display: grid;
	place-items: center;
}

.maindiv .current {
	height: 80px;
	width: 100%;
	border: 1px solid black;
	display: grid;
	place-items: center;
}
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
} */
.maindiv::-webkit-scrollbar {
	width: 0 !important;
}

@media only screen and (max-width: 800px) {
	.maindiv {
		margin-top: 0px !important;
	}
	.container {
		max-width: 100% !important;
		padding: 0px !important;
		margin: 0px !important;
	}
}
